@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@500&display=swap');
body{
    background-color: #0f0e13;
    color: #f4f4f4;
    font-family:'Lexend';
    font-weight: 600;
}
.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #0f0e13;
}

.rank {
    margin: .5 0;
}

.rank-btn {
    background-color:#090450;
    background-image: 
    radial-gradient(
        at 0% 0%,
        rgb(0, 0, 0) 0,
        transparent 100%
    ),
    radial-gradient(at 100% 0%, hsla(60, 70%, 65%, 0.7) 0, transparent 75%);
    padding: 1%;
    box-shadow: 0 0px 15px rgba(123, 0, 255, 0.982); pointer-events: none; transition: all 0.3s ease;
    border: transparent;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    padding-right: 1rem;
}

table {
    margin: .5rem 0;
}

td, th {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0f0e13;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .row p:first-child {
    color: #d3d3d3;
}

.about h3 {
    margin: 1rem 0;
}

@media screen and (max-width: 700px) {
    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    td,th {
        padding: 3px;
    }

    .rank {
        margin: .5rem;
    }

    .rank-btn {
        margin: .5rem 0;
    }
}








/* Coin.css (or your stylesheet) */

.currency-label {
    font-weight: bold;
    margin-right: 10px;
    color: white; /* Set text color to white */
  }
  
  .currency-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: white; /* Set text color to white */
    background-color: #0f0e13; /* Set background color to #26272B */
  }
  
  .currency-select:hover {
    border-color: #555;
  }
  
  .currency-select:focus {
    border-color: #333;
  }
  